.section-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
    grid-gap: 1rem;

    .no-gap {
      grid-gap: 0;
    }
}

@media #{$large-and-up} {
  #sobre-section {
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  #sobre {
    padding-top: 10%;
    }
}