---
layout: default
lang: pt
---

<script>
    Swal.fire({
    type: 'info',
    title: 'Vagas Disponiveis',
    confirmButtonText: '<a href="https://drive.google.com/open?id=1GekXRIHkukTZil-CaeEO870jVJshJOXT"><i class="fas fa-file-pdf"></i> Saiba Mais</a>'
    })
</script>

{% include home/slider.html %}

{% include home/firstSection.html %}

{% include home/sobre.html %}

{% include home/sectionDoar.html %}

{% include home/objectivos.html %}

<style>
    .parallax-container {
        height: 20vh;
    }
</style>

<div class="parallax-container">
    <div class="parallax">
        <img data-src="/assets/uploads/img_9930.jpg?nf_resize=fit&w=1920" class="lazy" alt="">
    </div>
</div>

{% include home/projectos.html %}

{% include home/parceiros.html %}