---
layout: default
lang: pt
---

{% include home/slider.html %}

{% include home/sobre.html %}

{% include home/sectionDoar.html %}

{% include home/objectivos.html %}

<section id="bg-image">
    <style>
        #bg-image {
            background-image: url(/assets/uploads/Faa.png);
            background-position: center;
            background-attachment: fixed;
            background-size: cover;
            height: 20vh;
        }
    </style>

    <div class="container">
        <div class="right hide-on-small-only">
            <p class="bolder white-text">"O Bem estar das crianças <br> de hoje está inseparavelmente <br> ligado à paz do mundo <br> amanhã"</p>
        </div>

        <div class="center hide-on-med-and-up">
            <p class="bolder white-text">"O Bem estar das crianças <br> de hoje está inseparavelmente <br> ligado à paz do mundo <br> amanhã"</p>
        </div>
    </div>
</section>

{% include home/projectos.html %}

{% include home/realizacoes.html %}

{% include home/noticias.html %}
<div class="divider"></div>

{% include home/parceiros.html %}