<nav class="nav-extended">
    <div class="nav-wrapper white">
        <div class="container">
            <a href="/" class="brand-logo" title="{{ site.title }}">
                <img src="{{ site.image }}" style="width: 40px" alt="Logotipo">
            </a>
            
            <a href="#" data-target="sideNav" class="sidenav-trigger primary-color-text"><i class="fas fa-lg fa-bars"></i></a>

            {% include nav/nav-wrapper.html %}
        </div>
    </div>
    
    <div class="nav-wrapper">
        <div class="container">
            <ul class="hide-on-med-and-down">
                <li>
                    <a href="/" title="Página Ínicial"><i class="fas fa-home"></i></a>
                </li>

                <li>
                    <a class="dropdown-trigger" href="#!" data-target="sobreDropdown">Sobre <i class="fas fa-caret-down"></i></a>
                </li>
    
                {% include nav/nav.html %}

            </ul>

            {% include nav/dropdown-menu.html %}
        </div>
    </div>
</nav>