<div class="navbar-fixed">
    <nav>
        <div class="nav-wrapper">
            <div class="container">
                <a href="/" class="brand-logo bolder" title="{{ site.title }}">{{ site.title }}</a>
                <a href="#" data-target="sideNav" class="sidenav-trigger"><i class="fas fa-bars"></i></a>

                <ul class="right hide-on-med-and-down">
                    {% include nav/nav.html %}
                    <li>
                        <a href="#doar" title="Doe" class="btn waves-effect waves-light modal-trigger">Doe</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</div>