<footer class="page-footer white-text">
    <div class="container">
        <div class="section-grid">
            <article>
                <span class="light">Contacte-nos:</span>

                <p class="bolder"><a href="tel:+258 86 311 2005" class="white-text">+258 86 311 2005</a> <br> <a href="mailto:{{ site.email }}" class="white-text">{{ site.email }}</a></p>
            </article>

            <article>
                
            </article>

            <article>
                <span class="light">Localize-nos</span>

                <p class="bolder">Av. da Independência nº 1599, <br> Bairro Josina Machel, <br> Cidade de Tete - Moçambique</p>
            </article>
        </div>
    </div>

    <div class="footer-copyright center">
        <div class="container">
            &copy; {{ site.description }} | Todos Direitos Reservados <br>
            <span class="light">Desenvolvido pela <a href="https://izitech.co" class="white-text">IZITech</a></span>
        </div>
    </div>
</footer>