<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <meta name="author" content="{{ site.author }}">
    <meta name="theme-color" content="{{ site.color }}">
    {% seo %}

    {% include scssify.html %}

    <link rel="shortcut icon" href="{{ site.image }}?nf_resize=fit&w=32" type="image/x-icon">
    <link rel="apple-touch-icon" href="{{ site.image }}?nf_resize=fit&w=160">

    <!--
        {% if page.layout == "default" %}
            {% include sweetalert.html %}
        {% endif %}
    -->

    {% if page.layout == "default" %}
        <script defer src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
    {% endif %}
</head>