---
title: Galeria
layout: default
pagination:
    enabled: true
    collection: galeria
---

<section class="section">
    <div class="container">
        <div class="section-grid">
            {% for item in paginator.posts %}
                <a href="{{ item.image }}?nf_resize=fit&w=720" data-lightbox="{{ page.title }}" data-title="{{ item.title }}" data-alt="{{ item.title }}">
                    <img data-src="{{ item.image }}?nf_resize=smartcrop&w=300" class="lazy">
                </a>
            {% endfor %}
        </div>

        {% include pagination.html %}
    </div>
</section>
