<style>
    #alvo {

        background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url(/assets/img/slider/MamasEVovosDebates-contra-Casamentos-Prematuros.jpg);
        background-attachment: fixed;
        background-size: cover;
        background-position: center;
    }
    #alvo svg {
        width: 10rem;
        height: 15vh;
        color: #fff;
    }
</style>

<section class="section scrollspy hide-on-med-and-down" id="alvo">
    <div class="container">
        <section class="section-grid">
            <div class="card-panel center secondary-color-text">
                <span class="circle secondary-color white-text">
                    {% include home/sister-and-brother.svg %}
                </span>
                <h5 class="bolder">Raparigas e Adolescentes</h5>
            </div>

            <div class="card-panel center secondary-color-text">
                <span class="circle secondary-color white-text">
                    {% include home/pregnant.svg %}
                </span>
                <h5 class="bolder">Mulheres Grávidas</h5>
            </div>

            <div class="card-panel center secondary-color-text">
                <span class="circle secondary-color white-text">
                    {% include home/boy.svg %}
                </span>
                <h5 class="bolder">Crianças (0-5 anos)</h5>
            </div>
        </section>
    </div>
</section>