<section class="section scrollspy" id="contactos">
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3832.2313925852386!2d33.58562071491317!3d-16.157013336282624!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x1926478e2471be65%3A0xe623b68f9b3fa44e!2sFUNDA%C3%87%C3%83O+APOIO+AMIGO+-+FAA!5e0!3m2!1spt-PT!2smz!4v1562826333842!5m2!1spt-PT!2smz" frameborder="0" style="border:0; width: 100%;" allowfullscreen></iframe>
    <div class="container">
        <h4 class="bolder primary-color-text center-align">Contacte-nos</h4>
        
        <div class="row">
            <div class="col s12 l4">
                <p><i class="fas fa-map-marker-alt"></i> Endereço:</p>
                <p class="light">Rua da Unidade Africana, Tete</p>

                <p><i class="fas fa-phone"></i> Telefone:</p>
                <p class="light"><a href="tel:+258 82 755 4800">+258 82 755 4800</a></p>

                <p><i class="fas fa-envelope"></i> Email:</p>
                <p class="light"><a href="mailto:{{ site.email }}">{{ site.email }}</a></p>
            </div>

            <div class="col s12 l8">
                <form action="post" netlify name="contacte-nos" class="row">
                    {% include contact-form/name.html %}
                    {% include contact-form/email.html %}
                    {% include contact-form/telephone.html %}
                    {% include contact-form/subject.html %}
                    {% include contact-form/message.html %}
                    {% include contact-form/submit.html %}
                </form>
            </div>
        </div>
    </div>
</section>