<section id="depoimentos" class="section scrollspy primary-color">
    <div class="container">
        <h4 class="white-text bolder">Depoimentos</h4>

        <div class="section-grid">
            {% for post in site.categories.depoimentos limit: 3 %}
                <article class="card-panel hoverable" data-aos="zoom-in" data-aos-duration="1000">
                    <img src="{{ post.image }}?nf_resize=smartcrop&w=80&h=80" style="width: 80px; height: 80px; border-radius: 100%;" alt=""> <span class="bolder secondary-color-text">{{ post.title }}</span> | <span class="thin grey-text">{{ post.age }} anos</span>
                    <br>
                    <div class="thin text-justified">
                        {{ post.content | truncatewords: 20 }}
                    </div>
                    <a href="{{ post.url }}" title="Depoimento de {{ post.title }}" class="secondary-color-text">Leia Mais</a>
                </article>
            {% endfor %}
        </div>

        <div class="center">
            <a href="/depoimentos/" class="btn waves-effect waves-light" title="Depoimentos">Veja Mais</a>
        </div>
    </div>
</section>