<section class="section scrollspy center" id="galeria">
    <div class="container">
        <h4 class="bolder primary-color-text">Galeria</h4>

        <section class="section-grid">
            {% for item in site.galeria limit: 6 %}
                <img src="{{ item.image }}?nf_resize=fit&w=300" alt="{{ item.title }}" class="materialboxed" data-caption="{{ item.title }}">
            {% endfor %}
        </section>

        <a href="/galeria/" class="btn-large waves-effect waves-light" title="Galeria">Veja Mais</a>
    </div>
</section>