<section class="section scrollspy secondary-color white-text" id="localizacao">
    <div class="container">
        <h4 class="bolder">Localização</h4>

        <div class="row">
            <div class="col s12 l6">
                <div class="video-container">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3888.152530315743!2d40.49323941486419!3d-12.962089863130323!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x18bfc8c1d5725ed7%3A0x3f9a1eeafe3916a0!2sAvenida+25+De+Setembro%2C+Pemba!5e0!3m2!1spt-PT!2smz!4v1561969378575!5m2!1spt-PT!2smz" frameborder="0" style="border:0" allowfullscreen></iframe>
                </div>
            </div>

            <div class="col s12 l6">
                <p>Av. 25 de Setembro</p>
                <p>Bairro Cimento nº 2235</p>
                <p>Cidade de Pemba</p>
                <p>Cabo Delgado, Moçambique</p>
            </div>
        </div>
    </div>
</section>