<section class="section scrollspy center" id="objectivos">
    <div class="container">
        <h4 class="primary-color-text bolder">Objectivos</h4>
        <p class="light">O principal objectivo da FAA definidos nos seus estatutos é de contríbuir para o <br> desenvolvimento sócio-económico das comunidades através de:</p>

        <div class="slick-objectivos">
            {% for item in site.objectivos %}
                <div>
                    <img src="{{ item.image }}?nf_resize=fit&w=320" alt="{{ item.title }}">
                    <p class="bolder primary-color-text">{{ item.title }}</p>
                </div>
            {% endfor %}
        </div>
    </div>
</section>