<section class="section scrollspy" id="parceiros">
    <div class="container">
        <div class="row">
            <div class="col s12 l6">
                <h4 class="bolder primary-color-text">Doadores</h4>

                <div class="carousel">
                    {% for item in site.doadores.first.entidade %}
                        <a class="carousel-item" href="#{{ forloop.index }}">
                            <img src="{{ item.image }}?nf_resize=fit&w=100" style="width: 100px;" alt="{{ item.company }}">
                        </a>
                    {% endfor %}
                </div>
            </div>

            <div class="col s12 l6">
                <h4 class="bolder primary-color-text">Parceiros</h4>

                <div class="carousel">
                    {% for item in site.parceiros.first.entidade %}
                        <a class="carousel-item" href="#{{ forloop.index }}">
                            <img src="{{ item.image }}?nf_resize=fit&w=100" style="width: 100px;" alt="{{ item.company }}">
                        </a>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</section>