<div class="slider">
    <ul class="slides">
        {% for item in site.sobre offset: 1 limit: 3 %}
            <li>
                <img src="{{ item.image }}?nf_resize&smartcrop&h=600">
                <div class="caption right white-text">
                    <div class="container">
                        <div class="card-panel" style="background: rgba(1, 24, 38, 0.5);">
                            <h4 class="bolder">{{ item.title }}</h4>
                            <div class="thin right">
                                {{ item.content }}
                            </div>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}

        {% for item in site.sobre limit: 1 %}
            <li>
                <img src="{{ item.image }}?nf_resize&smartcrop&h=600">
                <div class="caption right white-text">
                    <div class="container">
                        <div class="card-panel" style="background: rgba(1, 24, 38, 0.5);">
                            <h4 class="bolder">{{ item.title }}</h4>
                            <div class="thin right">
                                {{ item.content | truncatewords: 10 }}
                            </div>
                            <a href="{{ item.url }}" title="{{ item.title }}" class="btn-flat waves-effect waves-primary">Leia Mais</a>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>
</div>